.container-0 {
    display: flex;
}

.container-1 {
    /* border: 1px black solid; */
    display: flex;
    flex: 2;
    order: 1;
}

.container-1 div {
    background-color: blue;
}

.container-1 div:hover {
    background-color: lightcoral;
}

.container-2 {
    /* border: 1px black solid; */
    display: flex;
    flex-direction: column;
    flex: 1;
    order: 2;
}

.container-2 div {
    background-color: purple;
}

.container-2 div:hover {
    background-color: plum;
}

.box-1 h2, .box-2 h2, .box-3 h2 {
    text-decoration: underline;
    color: orange;
}

.box-4 h2, .box-5 h2, .box-6 h2 {
    text-decoration: underline;
    color: yellow;
}

.container-3 {
    /* border: 1px black solid; */
    display: flex;
    justify-content: space-between;
}

.container-3 a {
    color: black;
    background-color: red;
    flex-basis: 20%;
    text-align: center;
    text-decoration: none;
}

.container-3 a:hover {
    color: white;
    background-color: rosybrown;
    flex-basis: 25%;
}

