.container-0 {
    display: flex;
    align-content: center;
    flex-direction: column;
}

#moneyBal {
    text-align: center;
    padding-bottom: 5px;
    color: darkgreen;
}

.container-1 {
    display: flex;
    align-content: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

#viewport {
    padding: 150px 150px 150px 150px;
    border: 1px black solid;
    background-color: grey;
    justify-self: center;

}

#buyMenu {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    list-style-type: none;
    padding: 0;
    margin: 0;

}

/* Temporary, needs to be done in JS and edits some part of the DOM */
.tooltip {
        display: none;
        width: 120px;
        background-color: grey;
        color: black;
        text-align: left;
        padding: 5px 0;
        top: -0px;
        border-radius: 15px;
        position: absolute;
        z-index: 1;
}

#cfeStnd:hover .tooltip{
    display: inherit;
}

#cfeBrwy {
    display: none;
}

#cfeBrwy:hover .tooltip{
    display: inherit;
}

#cfeSilo {
    display: none;
}

#cfeSilo:hover .tooltip{
    display: inherit;
}

#cfeFcty {
    display: none;
}

#cfeFcty:hover .tooltip{
    display: inherit;
}

#cfePort {
    display: none;
}

#cfePort:hover .tooltip{
    display: inherit;
}

#cfeX {
    display: none;
}

#cfeX:hover .tooltip{
    display: inherit;
}

#cfeUnvs {
    display: none;
}

#cfeUnvs:hover .tooltip{
    display: inherit;
}

#ctrlBar {
    display: flex;
    justify-content: center;
    padding: 0px;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
}
p {
    text-align: center;
}