/* This class effect everything in the document */
/* 
* {
    margin: 0;
    padding: 0;
} 
*/

/* Colors can be entered one of the following:
Color Names - red, blue, purple, etc.
HTML5 Color Names - coral, misty rose, etc.
Hexadecimal - #f4f4f4 which is a light gray
RBG - (0,0,225) which is (red,green,blue)*/
/* Refer both measurements_absolutes.png and measurements_relitives.png for a list of the different units of measure that can be used. */
body{
    background-color: #f4f4f4;
    color:#555555;

    /* See web_safe_fonts.png for a reference on what fonts can be used without the need to import special files */
    /* Defines the type on font */
    /* Times New Roman is the defualt font */
    font-family: Arial, Helvetica, sans-serif;
    /* Defines the font size  */
    /* Defualt is 16px */
    font-size: 16px;
    /* Sets font thickness. Values from 100 to 900 are accepted. */
    /* 400 is defualt and 700 is bold */
    font-weight: 400;

    /* Packing all the attributes into one line. */
    /* font: normal 16px Arial, Helvetica, sans-serif; */

    /* Defines the space between lines of text */
    line-height: 1.6em;
}

.container{
    width: 80%;
    margin: auto;
}

/* You need to use a " . " when defining a class*/
.box-1{
background-color: #333333;
color:#ffffff;
/* Refer to box_model.png for diagram of the Box Model */
padding: 5px 10px;
border-right: 5px red solid;
border-top: 10px blue solid;
border-left: 5px red solid;
border-bottom: 25px green solid;
margin-top: 20px;
}

/* This targets any "h1" that is within a "box-1" class */
.box-1 h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
