.container-0 {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-color: #f3f3f3;
}

#main-header {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 800px;
    background-image: url(images/homebanner.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 800px 150px;
    text-align: center;
}

#main-header h1 {
    color: #fff;
    padding: 30px;
}

#navbar {
    display: flex;
    position: sticky;
    top: 0;
    text-align: center;
    width: 800px;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    width: 160px;
    height: 50px;
    background-color: #333;
    background-image: linear-gradient(to top, #333, rgb(90, 90, 90));
}

#navbar a:hover {
    color: black;
    background-image: linear-gradient(to top, rgb(90, 90, 90), #333);
}

.container-1 {
    display: flex;
    width: 800px;
    text-align: center;
}